<!-- <div class="mb-3">
  <label for="prodCat" class="form-label">Category:</label>
  one way binding
  <select #cat class="form-select " name="cat" id="prodCat" (change)="getSelectedCat(cat.value)">
  <select #cat class="form-select " name="cat" id="prodCat" (change)="getSelectedCat($event)">
  // in ts: event.target.value
  // two way binding
  <select
    class="form-select"
    name="cat"
    id="prodCat"
    [(ngModel)]="selectedCatID"
    (change)="filterProdByCatID()"
  >
    <option *ngFor="let cat of catList" [value]="cat.id">{{ cat.name }}</option>
  </select>
</div> -->
<div class="test-secondary">[To be Removed] For test: {{ sentCatID }}</div>
<button class="btn btn-primary" (click)="changeSelectedCat()">Change</button>
<br />fullDate Order's Date: {{ orderDate | date : "fullDate" }}
<hr />
<table class="table">
  <thead>
    <tr class="table-dark">
      <th>ID</th>
      <th>Name</th>
      <th>Image</th>
      <th>Av. Quantity</th>
      <th>Price In USD</th>
      <th>Price In EGY</th>
      <th>Count</th>
      <th>Buy</th>
    </tr>
  </thead>
  <tbody>
    <ng-container
      *ngFor="
        let prod of productListCat;
        let i = index;
        even as e;
        let o = odd;
        trackBy: trackByProdID
      "
    >
      <!-- <tr
        *ngIf="prod.quantity != 0"
        [class.table-warning]="e"
        [class.table-secondary]="o"
      > -->
      <!-- <tr [class.table-warning]="e" [class.table-secondary]="o"> -->
      <tr
        [ngClass]="{ 'table-warning': e, 'table-secondary': o }"
        [ngStyle]="{ 'font-weight': e ? 'bold' : 'normal' }"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ prod.name }}</td>
        <td>
          <img
            [src]="prod.imgURL"
            alt=""
            LightBox="red"
            defaultColor="yellow"
          />
        </td>
        <td>
          <!-- <div *ngIf="prod.quantity != 0">{{ prod.quantity }}</div>
          <div *ngIf="prod.quantity == 0">Out Of Stock</div> -->
          <!-- <div *ngIf="prod.quantity != 0; else outOfStock">
            {{ prod.quantity }}
          </div>
          <ng-template #outOfStock>Out Of Stock</ng-template> -->
          <ng-container [ngSwitch]="prod.quantity">
            <div *ngSwitchCase="0">Out Of Stock</div>
            <div *ngSwitchCase="1">Last item!</div>
            <div *ngSwitchCase="2">Last 2 item!</div>
            <div *ngSwitchDefault="">{{ prod.quantity }}</div>
          </ng-container>
        </td>
        <td>{{ prod.price | currency : "EUR" : "symbol" }}</td>
        <td>{{ prod.price | USDtoEGP : 30 | currency : "EGP" : "code" }}</td>
        <!-- Template variables -->
        <td><input #itemsCount type="number" class="form-control" /></td>
        <td>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="buy(prod.price, +itemsCount.value)"
          >
            Buy
          </button>
          <!-- <button type="button" class="btn btn-secondary">Buy</button> -->
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<!-- <hr /> -->
<!-- <h3 class="text-danger">Order Total Price: {{ orderTotalPrice }}</h3> -->
